user       www www;  ## Default: nobody
worker_processes  5;  ## Default: 1
error_log {{ nginx_error_log_file }};
pid        /run/nginx.pid;

worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  access_log   {{ nginx_error_access_file }};
  keepalive_timeout  65;
  sendfile     off;
  tcp_nopush   on;
  server_names_hash_bucket_size 128; # this seems to be required for some vhosts

  upstream logger_app_com {
    # server {{ javaapp_host }}:{{ javaapp_port }} weight=5;
    # server {{ pythonapp_host }}:{{ pythonapp_port }} weight=5;
    # server {{ golangapp_host }}:{{ golangapp_port }} weight=5;
  }

  server { # simple load balancing
    listen          80;

    server_name     logger.app.com;
    access_log      {{ nginx_error_access_file }};

    location / {
      proxy_set_header Host      $host;
      proxy_set_header X-Real-IP $remote_addr;
      
      proxy_next_upstream_tries 2;

      proxy_pass      http://logger_app_com;
    }
  }
}