[Unit]
Description=ping running on port 4567

[Service]
Type=simple
Environment="PORT=4567"
ExecStart=/app/go/bin/ping
ExecStop=/usr/bin/kill $(lsof -i tcp:4567 -t)

[Install]
WantedBy=multi-user.target