user       www www;  ## Default: nobody
worker_processes  5;  ## Default: 1
error_log  syslog:server={{ log_server_host }}:{{ log_server_port }},tag=error;
pid        /run/nginx.pid;

worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  access_log   syslog:server={{ log_server_host }}:{{ log_server_port }},tag=access main;
  sendfile     off;
  tcp_nopush   on;
  server_names_hash_bucket_size 128; # this seems to be required for some vhosts

  upstream ping_app_com {
    server {{ ping_app_host }}:{{ ping_app_port }} weight=5;
  }

  server { # simple load balancing
    listen          80;
    server_name     ping.app.com;
    access_log      syslog:server={{ log_server_host }}:{{ log_server_port }},tag=ping_access main;

    location / {
      proxy_pass      http://ping_app_com;
    }
  }
}