[Unit]
Description=pythonapp on port 8030

[Service]
Type=simple
Restart=always
User=www
Group=www
Environment="FLASK_RUN_PORT=8030"
Environment="FLASK_APP={{ apps_dir }}/pythonapp/app"
Environment="FLASK_ENV=development"
Environment="APP_VERSION=0.1.0"
Environment="APP_PATH={{ apps_dir }}/pythonapp"
Environment="FLASK_RUN_HOST=0.0.0.0"
Environment="LOG_DIR={{ log_dir }}/pythonapp"
ExecStart=/usr/local/bin/flask run
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
